trigger:
  branches:
    include: [ main ]
  tags:
    include: ['*']

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  fetchDepth: 0
  submodules: false

- task: UseDotNet@2
  displayName: 'Setup .NET SDK'
  inputs:
    packageType: 'sdk'
    version: '10.x'

- task: gitversion-setup@4
  displayName: 'Install GitVersion'
  inputs:
    versionSpec: '6.4.x'

- task: gitversion-execute@4
  name: GitVersion
  displayName: 'Determine SemVer'
  inputs:
    configFilePath: 'GitVersion.yml'
    updateAssemblyInfo: false

- script: |
    echo "##vso[build.updatebuildnumber]$(GitVersion.FullSemVer)"
  displayName: 'Set Azure DevOps build number'

- script: dotnet restore
  displayName: 'Restore'

- script: dotnet build -c Release --no-restore
  displayName: 'Build (Release)'

- script: dotnet pack -c Release --no-build
  displayName: 'Pack (Release)'

- script: |
    dotnet nuget push **/bin/Release/*.nupkg \
      --source https://api.nuget.org/v3/index.json \
      --api-key $(NUGET_API_KEY) \
      --skip-duplicate
  displayName: 'Publish to NuGet.org'
