trigger:
  branches:
    include: [ main ]

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  fetchDepth: 0
  submodules: false

- task: UseDotNet@2
  displayName: 'Setup .NET SDK'
  inputs:
    packageType: 'sdk'
    version: '10.x'

- task: gitversion-setup@4
  displayName: 'Install GitVersion'
  inputs:
    versionSpec: '6.4.x'

- task: gitversion-execute@4
  name: GitVersion
  displayName: 'Determine SemVer'
  inputs:
    configFilePath: 'GitVersion.yml'
    updateAssemblyInfo: false

- script: |
    echo "##vso[build.updatebuildnumber]$(GitVersion.FullSemVer)"
  displayName: 'Set Azure DevOps build number'

- script: |
    dotnet nuget add source \
      --name github \
      --username AzureBlueSolutions \
      --password $(GITHUB_PAT) \
      --store-password-in-clear-text \
      "https://nuget.pkg.github.com/AzureBlueSolutions/index.json"
  displayName: 'Add GitHub Packages source'

- script: dotnet restore
  displayName: 'Restore'

- script: dotnet build -c Release --no-restore
  displayName: 'Build (Release)'

- script: dotnet pack -c Release --no-build
  displayName: 'Pack (Release)'

- script: dotnet nuget list source
  displayName: 'Verify NuGet sources'

- script: |
    dotnet nuget push \
      **/bin/Release/*.nupkg \
      --source github \
      --api-key $(GITHUB_PAT) \
      --skip-duplicate
  displayName: 'Publish to GitHub Packages'
